body{
    background-color: lightsteelblue;
}

thead{
    background-color: burlywood;
    font-weight: bold; 
    text-align: center;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 37px;
}

table{
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    height:100px;
}

tbody{
    text-align: center;
}
.container{
    width: 800px;
    margin: 0px auto 0px auto;
}

